@using LostPets.Web.Infrastructure.HtmlHelpers
@model LostPets.Web.ViewModels.Profile.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <br />
    @Html.Partial("_ProfilePartial")
</div>
