JavaScript-UI-and-Dom/Team-Work-Manhattan
SPA/Useful Things
Node js/Materials
JavaScript-UI-and-Dom/Sample Exams
Databases/DB exam/Author.zip
Web-Services-and-Cloud/ExamsTraining/2014-Bulls-and-Cows/Solution
ASP.NET - MVC/Exam2016
ASP.NET - MVC/ASP.NET-MVC-Exam2016-UserVoice
ASP.NET - MVC/Materials
ASP.NET - MVC/IndividualProject/OldVersions
ASP.NET - MVC/06. ASP.NET-Caching-Data
ASP.NET - MVC/ExamPreparation/Ticketing-System-AuthorSolution

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
