extends common/layout

block mainContent
    div
        br
        br
        br
        br
        br
        br
        h1(class="jumbotron text-center") Welcome! Check our new offerts and buy the coolest mobile device!