@model LostPets.Web.ViewModels.Posts.ListPostViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron text-center text-primary">
    <h1>Most Recent Posts</h1>
</div>

<div class="container">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("../Posts/_PostPartial", post)
    }
</div>