@model int?

<div class="row">
    <div class="row">
        @Html.LabelFor(m => m)
    </div>
    <div class="row">
        @Html.TextBoxFor(m => m, new { @type = "number", @class = "form-control" })
    </div>
    <div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>
<br />

