@model string
<div class="row">
    <div class="row">
        @Html.LabelFor(m => m)
    </div>
    <div class="row">
        @Html.TextAreaFor(m => m, new { @class = "form-control", @value = "m" })
    </div>
    <div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>
<br />

